*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

/*main container*/

.container{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
}

h1{
    margin-bottom:15px;
}

.todo-input{
    display: flex;
    margin-bottom: 15px;
    gap: 10px;
}

#task-input{
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#add-task-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-btn:hover{
    background-color: #218838;
}

